HIK_API_KEY=
HIK_API_SECRET=
HIK_BASE_URL=https://ius.hikcentralconnect.com
SECRET_KEY=crea-una-clave-larga-y-aleatoria
DATABASE_PATH=instance/checador.sqlite3
APP_TIMEZONE=America/Tijuana
APP_ENV=development
SESSION_COOKIE_SECURE=0
